<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inbound Receipt</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pallets">Pallets</a>
        </li>
        <li>
          <a class="nav-link" href="/forkliftAssignment">forklift</a>
        </li>
        <li>
          <a class="nav-link" href="/login"> forkliftOperator</a>
        </li>
          <a class="nav-link" href="/TransferOrders">Confirmed Transfer orders </a>
        </li>
      </ul>
    </div>
  </nav>
    -->


    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Your Brand</a>
          </div>
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class=""><a href="/">Home <span class="sr-only">(current)</span></a></li>
                  <li class=""><a href="/pallets">Pallets</a></li>
                  <!-- <li class=""><a href="/forkliftAssignment">forklift</a></li> -->
                  <li><a href="/login">forkliftOperator</a></li>
                  <li><a href="/TransferOrders">Confirmed Transfer orders</a></li>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>